div.navbar.navbar-default.navbar-fixed-top(role='navigation')
	div.container
		div.navbar-header
			button.navbar-toggle(type=button, data-toggle='collapse', data-target='.navbar.collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand Temporary file storage
		div.navbar-collapse.collapse
			div.navbar-text.navbar-right
				div.fb-login-button(data-width='200', data-height="34", data-max-rows='1', data_autologoutlink='true', data-show-faces='false')
